
@{
    ViewData["Title"] = "CreateRushourPartailView";
}
@model Sopro.ViewModels.ScenarioCreateViewModel

<div class="d-inline-flex mb-2">
    <button asp-action="PlusRushour" asp-controller="Simulation" class="btn btn-primary btn-mhp mr-2">Plus</button>
    <button id="" class="btn btn-secondary">Minus</button>
</div>
<div id="peak">
    @for (int i = 1; i <= Model.startRushours.Count; i++)
    {
        <div class="flex-column mb-3">
            <div>Stoßzeit @i</div>

        <div class="form-group mb-2 ml-5">
                <div>Start Zeitpunkt</div>
                <input form="create" type="datetime-local" class="form-control" asp-for="@Model.startRushours[i-1]" />
                <small></small>
            </div>
            <div class="form-group mb-2 ml-5">
                <div>Ende</div>
                <input form="create" type="time" class="form-control" asp-for="@Model.endRushours[i-1]" />
                <small></small>
            </div>
            <div class="form-group mb-2 ml-5">
                <div>Anzahl der Buchungen ín dieser Zeit</div>
                <input form="create" type="datetime-local" class="form-control" asp-for="@Model.bookingsRushours[i-1]" min="1"/>
                <small></small>
            </div>
        </div>
        }
</div>
