@model Sopro.ViewModels.EditCarTemplateVieModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>

    <h3 class="pb-3">Edit</h3>
    <div>
        <form asp-controller="Vehicle" asp-action="Edit" method="Save" id="addCar" />

        <div class="form-group">
            <label>Fahrzeugmodell</label>
            <input form="addCar" class="form-control" />
            <small></small>
        </div>

        <div class="form-group">
            <label>Steckertyp des Fahrzeuges</label>
            <div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input form="addCar" type="radio" class="form-check-input" name="optradio">CCS
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input form="addCar" type="radio" class="form-check-input" name="optradio">Type-2-Plug
                    </label>
                </div>
            </div>
            <small></small>
        </div>

        <div class="form-group">
            <label>Ladekapazität</label>
            <div class="input-group">
                <input form="addCar" class="form-control" placeholder="0" />
                <div class="input-group-append">
                    <span class="input-group-text"> kWh </span>
                </div>
            </div>
            <small>Angab in kW</small>
        </div>

        <div class="form-group">
            <label>Ladezustand zu Beginn</label>
            <div class="input-group">
                <input form="addCar" class="form-control" placeholder="0" />
                <div class="input-group-append">
                    <span class="input-group-text"> % </span>
                </div>
            </div>
            <small></small>
        </div>

        <div class="form-group">
            <label>Kilometeranzahl</label>
            <div class="input-group">
                <input form="addCar" class="form-control" placeholder="0" />
                <div class="input-group-append">
                    <span class="input-group-text"> km </span>
                </div>
            </div>
            <small>Für wie viele Kilometer aufgeladen wird</small>
        </div>
        <input type="hidden" asp-for="@Model.index"value="@Model.index"/>

        <div class="float-right mt-4 mb-5">
            <button type="reset" class="btn btn-secondary" onclick="location.href='@Url.Action("Vehicle", "Cartemplates")'">Abbrechen</button>
            <button form="addCar" type="submit" class="btn btn-primary btn-mhp">Hinzufügen</button>
        </div>
    </div>
</body>
</html>
