@{
    ViewData["Title"] = "Studium";
}
<h1>@ViewData["Title"]</h1>

<p>
    <ul>
        <li>hab nix gelernt.</li>
    </ul>
</p>
<p>
    <a href="https://www.uni-augsburg.de/en/">krasse Uni</a>
</p>