
Abgaben/Einzelabgaben/Reiter/Übungsblatt 4/.vs/TestProjekt/DesignTimeBuild/.dtbcache.v2
Abgaben/Einzelabgaben/Reiter/Übungsblatt 4/.vs/TestProjekt/v16/.suo
Abgaben/Einzelabgaben/Reiter/Übungsblatt 4/.vs/TestProjekt/v16/.suo
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/project.nuget.cache
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/project.assets.json
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.Views.pdb
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.Views.dll
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.pdb
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.dll
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csprojAssemblyReference.cache
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csproj.FileListAbsolute.txt
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csproj.CoreCompileInputs.cache
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.assets.cache
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.AssemblyInfo.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/Booking/Index.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.Views.pdb
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.Views.dll
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.runtimeconfig.dev.json
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.pdb
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.dll
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/.vs/WebApplication1/v16/.suo
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/.vs/WebApplication1/config/applicationhost.config
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/.vs/Storyboard/config/applicationhost.config
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/.vs/Storyboard/v16/.suo
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/bin/Debug/netcoreapp3.1/Storyboard.dll
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/bin/Debug/netcoreapp3.1/Storyboard.exe
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/bin/Debug/netcoreapp3.1/Storyboard.pdb
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/bin/Debug/netcoreapp3.1/Storyboard.runtimeconfig.dev.json
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/bin/Debug/netcoreapp3.1/Storyboard.Views.dll
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/bin/Debug/netcoreapp3.1/Storyboard.Views.pdb
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Razor/Views/Admin/Dashboard.cshtml.g.cs
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Razor/Views/Booking/Dashboard.cshtml.g.cs
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Razor/Views/Home/Help.cshtml.g.cs
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Razor/Views/Home/Imprint.cshtml.g.cs
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Storyboard.assets.cache
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Storyboard.csproj.CoreCompileInputs.cache
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Storyboard.csproj.FileListAbsolute.txt
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Storyboard.csprojAssemblyReference.cache
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Storyboard.dll
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Storyboard.exe
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Storyboard.pdb
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Storyboard.Views.dll
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Debug/netcoreapp3.1/Storyboard.Views.pdb
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/project.assets.json
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/project.nuget.cache
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Storyboard.csproj.nuget.dgspec.json
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/obj/Storyboard.csproj.nuget.g.props
Abgaben/Gruppe/Übungsblatt 5/Storyboard/Storyboard/.vs/Storyboard/v16/.suo
