
Abgaben/Einzelabgaben/Reiter/Übungsblatt 4/.vs/TestProjekt/DesignTimeBuild/.dtbcache.v2
Abgaben/Einzelabgaben/Reiter/Übungsblatt 4/.vs/TestProjekt/v16/.suo
Abgaben/Einzelabgaben/Reiter/Übungsblatt 4/.vs/TestProjekt/v16/.suo
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/project.nuget.cache
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/project.assets.json
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.Views.pdb
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.Views.dll
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.pdb
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.dll
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csprojAssemblyReference.cache
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csproj.FileListAbsolute.txt
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csproj.CoreCompileInputs.cache
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.assets.cache
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.AssemblyInfo.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/Booking/Index.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.Views.pdb
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.Views.dll
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.runtimeconfig.dev.json
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.pdb
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.dll
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/.vs/WebApplication1/v16/.suo
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
Abgaben/Einzelabgaben/Koppelstetter/Blatt 3/WebApplication1/.vs/WebApplication1/config/applicationhost.config
