@{
    ViewData["Title"] = "Hilfie";
    Layout = "_AdminLayout";
}

<h1 class="pb-3 display-4">Hilfe</h1>

<div>
    <h4>
        <a href="#erklärung">1. Erkärung der Wichtigen Tools</a>
    </h4>
    <h4>
        <a href="#probleme">2. Häufige Probleme</a>
    </h4>
    <h4>
        <a href="#fragen">3. Häufige Fragen</a>
    </h4>
</div>
<hr />
<div>
    <h2 class=" pb-3" id="erklärung">1. Erkärung der Wichtigen Tools</h2>

    <div class=" = ml-5">
        <h3>1.1 Verwaltung</h3>
        <p class=" = ml-5">
            Auf die Verwaltung haben nur Nutzer mit der Rolle "Planer" Zugriff. Die Verwaltung <br>
            bietet die Möglichkeit Daten zu löschen, anzupassen sowie zu import- als auch exportieren. <br>
        </p>
    </div>
    <div class=" = ml-5">
        <h3>1.2 Buchungsübersicht</h3>
        <p class=" = ml-5">
            Die Buchungsübersicht gibt ihnen die Möglichkeit alle noch ausstehenden Buchungsanfragen <br>
            von allen Nutzern zu bearbeiten oder zu löschen. Klicken sie hierbei einfach auf das <br>
            dementsprechende Icon in der jeweiligen Zeile.
        </p>
    </div>
    <div class=" = ml-5">
        <h3>1.3 Simulation</h3>
        <p class=" = ml-5">
            Die Simulation bietet dem Planer die Möglichkeit verschiedene Szenarien durchlaufen zu lassen, <br>
            welche einem realistischen Buchungsverhalten nahekommen sollten. Szenarien, die einmal durchgelaufen <br>
            sind, werden am Ende mit allen ausgewerteten relevanten Informationen grafisch dargestellt.
        </p>
    </div>
    <div class=" = ml-5">
        <h3>1.6 Historie</h3>
        <p class=" = ml-5">
            Hier wird die Historie erklärt.
        </p>
    </div>
</div>
<div>
    <h2 class=" pb-3" id="probleme">2. Häufige Probleme</h2>
    <div class=" = ml-5">
        <p>
            Hier werden häufige Probleme und die entsprechenden Lösungsvorschläge aufgelistet.
        </p>
    </div>
</div>
<div>
    <h2 class=" pb-3" id="fragen">3. Häufige Fragen</h2>
    <div class=" = ml-5">
        <p>
            Hier werden häufig gestellte Fragen beantwortet.
        </p>
    </div>
</div>