
@{
    ViewData["Title"] = "Booking";
}

<h1 class="display-4">Bookings</h1>
<br/>
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover">
        <caption>List of bookings</caption>
        <thead class="thead-dark">
            <tr>
                <th>Current Charge</th>
                <th>Requested Distance in km</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>

        </thead>
        
        @foreach (Booking booking in Model)
        {
    <tr>
        <td>@booking.currentCharge</td>
        <td>@booking.requiredDistance</td>
        <td>@booking.start</td>
        <td>@booking.end</td>
    </tr>
        }

    </table>
</div>


