/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-top: 125px;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#navlink {
    font-family: "FrutigerNextCom-Light", "Segoe UI Light", "Segoe UI", Helvetica, Arial, sans-serif, "Frutiger LT", FrutigerLTStd-Light, Helvetica, Arial, sans-serif;
    font-size: 16px;
}
#navlinkB {
    font-family: "FrutigerNextCom-Light", "Segoe UI Light", "Segoe UI", Helvetica, Arial, sans-serif, "Frutiger LT", FrutigerLTStd-Light, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

/* SVG Color */

.filter-blue {
    filter: invert(18%) sepia(48%) saturate(5675%) hue-rotate(238deg) brightness(61%) contrast(140%);
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(474%) hue-rotate(30deg) brightness(115%) contrast(87%);
}

.filter-red {
    filter: invert(15%) sepia(85%) saturate(2847%) hue-rotate(348deg) brightness(102%) contrast(92%);
}

.filter-green {
    filter: invert(55%) sepia(91%) saturate(295%) hue-rotate(94deg) brightness(90%) contrast(91%);
}

/* MHP Colors*/

.btn-mhp {
    background-color: #000099;
}

.field-validation-error{
    color: red;
}
