@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="pb-5 pt-5">
        <h2 class="display-4 text-center">So einfach kann Buchen sein</h2>
    </div>

    <div class="container d-flex justify-content-center">
        <form class="form-inline pb-5" method="post">
            <div class="form-group"><input type="email" class="form-control" name="email" placeholder="example@mail.com" /></div>
            <div class="form-group"><button class="btn btn-primary btn-mhp" type="submit" asp-controller="Home" asp-action="Login">Anmelden</button></div>
        </form>
    </div>


    <div class="row">
        <div class="col-sm pb-5">
            <div class="container d-flex justify-content-center pb-3"><img src="~/bootstrap-icons/envelope-fill.svg" width="64" class="filter-blue" /></div>
            <div class="text-center">
                <h4 class="pb-2">1. E-Mail Adresse angeben</h4>
                <p>Damit Sie eine Ladestation buchen können, müssen Sie Ihre E-Mail Adresse hinterlegen.</p>
                <a asp-area="" asp-controller="Home" asp-action="">Erfahre mehr</a>
            </div>
        </div>
        <div class="col-sm pb-5">
            <div class="container d-flex justify-content-center pb-3"><img src="~/bootstrap-icons/geo-alt.svg" width="64" class="filter-blue" /></div>
            <div class="text-center">
                <h4 class="pb-2">2. Firmenstandort wählen</h4>
                <p>Wählen Sie den Standort aus, an dem Sie beschäftigt sind.</p>
                <a asp-area="" asp-controller="Home" asp-action="">Erfahre mehr</a>
            </div>
        </div>
        <div class="col-sm pb-5">
            <div class="container d-flex justify-content-center pb-3"><img src="~/bootstrap-icons/file-text.svg" width="64" class="filter-blue" /></div>
            <div class="text-center">
                <h4 class="pb-2">3. Formular ausfüllen</h4>
                <p>Tragen Sie im Anschluss die Buchungsdetails in das Formular ein.</p>
                <a asp-area="" asp-controller="Home" asp-action="">Erfahre mehr</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm pb-5">
            <div class="container d-flex justify-content-center pb-3"><img src="~/bootstrap-icons/check-circle-fill.svg" width="64" class="filter-blue" /></div>
            <div class="text-center">
                <h4 class="pb-2">4. Bestätigung empfangen</h4>
                <p>Sie erhalten per E-Mail eine Buchungsbestätigung.</p>
                <a asp-area="" asp-controller="Home" asp-action="">Erfahre mehr</a>
            </div>
        </div>
        <div class="col-sm pb-5">
            <div class="container d-flex justify-content-center pb-3"><img src="~/bootstrap-icons/plug.svg" width="64" class="filter-blue" /></div>
            <div class="text-center">
                <h4 class="pb-2">5. Bequem aufladen</h4>
                <p>Nach dem Check-In können Sie Ihr Fahrzeug bequem aufladen.</p>
                <a asp-area="" asp-controller="Home" asp-action="">Erfahre mehr</a>
            </div>
        </div>
        <div class="col-sm pb-5">
            <div class="container d-flex justify-content-center pb-3"><img src="~/bootstrap-icons/truck.svg" width="64" class="filter-blue" /></div>
            <div class="text-center">
                <h4 class="pb-2">6. Schöne Fahrt</h4>
            </div>
        </div>
    </div>
</div>
