
@{
    ViewData["Title"] = "Hilfe";
}

<h1 class="pb-3 display-4">Hilfe</h1>

<div>
    <h4>
        <a href="#erklärung">1. Erkärung der Wichtigen Tools</a>
    </h4>
    <h4>
        <a href="#probleme">2. Häufige Probleme</a>
    </h4>
    <h4>
        <a href="#fragen">3. Häufige Fragen</a>
    </h4>
</div>
<hr />
<div>
    <h2 class=" pb-3" id="erklärung">1. Erkärung der Wichtigen Tools</h2>
    <div class=" ml-5">
        <h3>1.1 Buchungen anlegen</h3>
        <p class=" = ml-5">
            Als Ersten Schritt müssen sie eine gültige E-mail angeben mit welcher sie sich einloggen. <br>
            Sie werden nun direkt auf ihre Buchungsübersicht weitergeleitet, in welcher Sie über einen Button <br>
            auf der rechten Seite eine neue Buchung anlegen können.
        </p>
    </div>
    <div class=" = ml-5">
        <h3>1.2 Buchungsübersicht</h3>
        <p class=" = ml-5">
            Die Buchungsübersicht gibt ihnen die Möglichkeit alle noch ausstehenden Buchungsanfragen <br>
            zu bearbeiten oder zu löschen. Klicken sie hierbei einfach auf das dempentsprechenden Icon <br>
            in der jeweiligen Zeile.
        </p>
    </div>
</div>
<div>
    <h2 class=" pb-3" id="probleme">2. Häufige Probleme</h2>
    <div class=" = ml-5">
        <p>
            Hier werden häufige Probleme und die entsprechenden Lösungsvorschläge aufgelistet.
        </p>
    </div>
</div>
<div>
    <h2 class=" pb-3" id="fragen">3. Häufige Fragen</h2>
    <div class=" = ml-5">
        <p>
            Hier werden häufig gestellte Fragen beantwortet.
        </p>
    </div>
</div>





