
@{
    ViewData["Title"] = "Hilfe";
}

<h1 class="pb-3 display-4">Hilfe</h1>

<div>
    <h4>
        <a href="#erklärung">1. Erkärung der Wichtigen Tools</a>
    </h4>
    <h4>
        <a href="#fragen">2. Häufige Fragen</a>
    </h4>
</div>
<hr />
<div>
    <h2 class=" pb-3" id="erklärung">1. Erkärung der Wichtigen Tools</h2>
    <div class=" ml-5 ">
        <h3>1.1 Buchungen anlegen</h3>
        <p class=" = ml-5">
            Zunächst müssen sie eine gültige E-Mail-Adresse angeben um sich anzumelden. <br>
            Sie werden anschließend direkt auf ihre Buchungsübersicht weitergeleitet, <br>
            auf der Sie - über einen Button auf der rechten Seite - eine neue Buchung anlegen können.
        </p>
    </div>
    <div class=" = ml-5">
        <h3>1.2 Buchungsübersicht</h3>
        <p class=" = ml-5">
            Die Buchungsübersicht gibt ihnen die Möglichkeit alle noch ausstehenden Buchungsanfragen <br>
            zu bearbeiten oder zu löschen. Klicken sie hierbei einfach auf das dementsprechenden Icon, <br>
            in der jeweiligen Zeile.
        </p>
    </div>
    <div class=" = ml-5">
        <h3>1.3 Check-In & Check-Out</h3>
        <p class=" = ml-5">
            Nachdem Ihre Buchung bestätigt wurde, haben sie bis 15 Minuten nach Beginn Ihrer Buchung Zeit, <br />
            den Ladevorgang zu bestätigen. Passiert das nicht, so wird die Verfügbarkeit Ihres Buchungsslots <br />
            nicht garantiert.
        </p>
    </div>
</div>
<div>
    <h2 class=" pb-3" id="fragen">2. Häufige Fragen</h2>
    <div class=" = ml-5">
        <p>
            Frage: Warum werde ich nicht auf die Buchungsübersicht weitergeleitet?<br>
            Antwort: Diese Funktionalität setzt eine Anmeldung voraus.
        </p>
    </div>
</div>






