
@{
    ViewData["Title"] = "Auswertung";
    Layout = "_AdminLayout";
}

<h1 class="display-4 mb-5">Auswertung</h1>
<div class=" = d-inline-flex flex-wrap">
    <div class="flex-column rounded shadow p-3">
        <div class="d-flex mb-2 ml-2">
            <div class="mr-4"><b>Durchgeführt am</b> </div>
            <div> 09.06.2020 12:30</div>
        </div>
        <div class="d-flex mb-2">
            <div class="mr-5 mt-2 ml-2"> <b>Bsp Location 1</b></div>
            <div class="flex-column  mt-2">
                <div class="d-flex">
                    <div class="mr-2">Ladezone A</div>
                    <div class="mr-2">Ladestationen: 2</div>
                </div>
                <div class="d-flex">
                    <div class="mr-2">Ladezone B</div>
                    <div class="mr-2">Ladestationen: 2</div>
                </div>
                <div class="d-flex">
                    <div class="mr-2">Ladezone C</div>
                    <div class="mr-2">Ladestationen: 2</div>
                </div>
            </div>
        </div>
        <div class="d-flex pl-2">
            <div class="mr-5"><b>Stoßzeit 1 </b></div>
            <div class="ml-4">09.06.2020 9:00</div>
        </div>
        <div class="d-flex pl-2">
            <div class="mr-5"><b>Stoßzeit 2 </b></div>
            <div class="ml-4">09.06.2020 13:00</div>
        </div>
        <div class="d-flex pl-2">
            <div class="mr-5"> <b>Stoßzeit 3</b></div>
            <div class="ml-4">09.06.2020 19:00</div>
        </div>
    </div>
</div>