
@{
    ViewData["Title"] = "Simulation";
}

<h1 class="display-3 mb-5">Simulation</h1>
<h3 class="mb-2">Szenarien</h3>
<div class="flex-column">
    <div class="d-flex rounded shadow mt-3">
        <h5 class="ml-2 mt-1 mr-5"> Bsp Szenario 1 </h5>
        <img src="~/bootstrap-icons/geo-alt.svg" width="23" class="ml-2" />
        <div class="ml-2 mt-1">Bsp Location 1</div>
        <div class="mr-auto ml-4 mt-1">Stoßzeiten: 3</div>
        <img src="~/bootstrap-icons/caret-right-fill.svg" width="23" class="filter-green mr-2" />
        <img src="~/bootstrap-icons/pencil.svg" width="23" class="mr-2" />
        <img src="~/bootstrap-icons/x-circle-fill.svg" width="23" class="mr-4" />
        <img src="~/bootstrap-icons/caret-down-fill.svg" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" width="23" class="mr-2 ml-2 filter-blue" />
    </div>
    <div id="collapseOne" class="collapse ml-4" aria-labelledby="headingOne">
        <div class="flex-column rounded border p-3">
            <div class="d-flex mb-2">
                <div class="mr-5 mt-2 ml-2"> <b>Bsp Location 1</b></div>
                <div class="flex-column  mt-2">
                    <div class="d-flex">
                        <div class="mr-2">Ladezone A</div>
                        <div class="mr-2">Ladestationen: 2</div>
                    </div>
                    <div class="d-flex">
                        <div class="mr-2">Ladezone B</div>
                        <div class="mr-2">Ladestationen: 2</div>
                    </div>
                    <div class="d-flex">
                        <div class="mr-2">Ladezone C</div>
                        <div class="mr-2">Ladestationen: 2</div>
                    </div>
                </div>
            </div>
            <div class="d-flex pl-2">
                <div class="mr-5"><b>Stoßzeit 1 </b></div>
                <div class="ml-4">09.06.2020 9:00</div>
            </div>
            <div class="d-flex pl-2">
                <div class="mr-5"><b>Stoßzeit 2 </b></div>
                <div class="ml-4">09.06.2020 13:00</div>
            </div>
            <div class="d-flex pl-2">
                <div class="mr-5"> <b>Stoßzeit 3</b></div>
                <div class="ml-4">09.06.2020 19:00</div>
            </div>
        </div>
    </div>
    <div class="d-flex rounded shadow mt-3">
        <h5 class="ml-2 mt-1 mr-5"> Bsp Szenario 1 </h5>
        <img src="~/bootstrap-icons/geo-alt.svg" width="23" class="ml-2" />
        <div class="ml-2 mt-1">Bsp Location 1</div>
        <div class="mr-auto ml-4 mt-1">Stoßzeiten: 3</div>
        <img src="~/bootstrap-icons/caret-right-fill.svg" width="23" class="filter-green mr-2" />
        <img src="~/bootstrap-icons/pencil.svg" width="23" class="mr-2" />
        <img src="~/bootstrap-icons/x-circle-fill.svg" width="23" class="mr-4" />
        <img src="~/bootstrap-icons/caret-down-fill.svg" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" width="23" class="mr-2 ml-2 filter-blue" />
    </div>
    <div id="collapseTwo" class="collapse ml-4" aria-labelledby="headingOne">
        <div class="flex-column rounden border p-3">
            <div class="d-flex mb-2">
                <div class="mr-5 mt-2 ml-2"> <b>Bsp Location 1</b></div>
                <div class="flex-column  mt-2">
                    <div class="d-flex">
                        <div class="mr-2">Ladezone A</div>
                        <div class="mr-2">Ladestationen: 2</div>
                    </div>
                    <div class="d-flex">
                        <div class="mr-2">Ladezone B</div>
                        <div class="mr-2">Ladestationen: 2</div>
                    </div>
                    <div class="d-flex">
                        <div class="mr-2">Ladezone C</div>
                        <div class="mr-2">Ladestationen: 2</div>
                    </div>
                </div>
            </div>
            <div class="d-flex pl-2">
                <div class="mr-5"><b>Stoßzeit 1 </b></div>
                <div class="ml-4">09.06.2020 9:00</div>
            </div>
            <div class="d-flex pl-2">
                <div class="mr-5"><b>Stoßzeit 2 </b></div>
                <div class="ml-4">09.06.2020 13:00</div>
            </div>
            <div class="d-flex pl-2">
                <div class="mr-5"> <b>Stoßzeit 3</b></div>
                <div class="ml-4">09.06.2020 19:00</div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex mt-4">
    <div class="mr-3">
        <form asp-controller="" asp-action="" class="form-horizontal" method="post" enctype="multipart/form-data">
            <button type="submit" class="btn btn-primary btn-mhp">Import</button>
        </form>
    </div>
    <div>
        <input class="btn btn-secondary" type="button" name="export" value="Export" />
    </div>
    <div class="ml-auto">
        <button class="btn btn-secondary btn-mhp">Hinzufügen</button>
    </div>
</div>

