@model Booking
@{
    ViewData["Titel"] = "Create";
}

<p class="h4">Buchungen</p>
<div>
    <form asp-controller="Booking" asp-action="Post" method="post" id="create"/>
        <div class="form-group">
            <label asp-for="current_Charge">Ladestatus</label>
            <input form="create" asp-for="current_Charge" class="form-control" placeholder="charge in %" min="0" max="100" required>
        </div>
        <div class="form-group">
            <label asp-for="required_Distance">Distanz</label>
            <input form="create" asp-for="required_Distance" class="form-control" placeholder="distance in km" min="1" max="1000" required>
        </div>
        <div class="form-group input-append date form_datetime">
            <label asp-for="start_Time">Start Time</label>
            <input form="create" asp-for="start_Time" class="form-control" placeholder="Start Time" required>
        </div>
        <div class="form-group input-append date form_datetime">
            <label asp-for="end_Time">End Time</label>
            <input form="create" asp-for="end_Time" class="form-control" name="end_Time" placeholder="End Time" required>
        </div>
        <div class="form-group">
            <label asp-for="connectorType">Anschluss</label>
            <select class="form-control" id="@Model.connectorType" name="connectorType" required>

                @foreach (var item in Enum.GetValues(typeof(ConnectorType)))
                {
                    <option value="@item">@item</option>
                }

            </select>
        </div>
        <button form="create" type="submit" class="btn btn-primary">Buchen</button>
        

</div>