
@{
    ViewData["Title"] = "Hilfe";
}

<h1>Hilfe</h1>

<h3>Inhalt:</h3>
<h4>
    <a href="#erklärung">1. Erkärung der Wichtigen Tools</a>
</h4>
<h4>
    <a href="#probleme">2. Häufige Probleme</a>
</h4>
<h4>
    <a href="#fragen">3. Häufige Fragen</a>
</h4>
<h4>
    <a href="#entwickler">4. Entwickler</a>
</h4>

<hr />
<div>
    <h2 id="erklärung">1. Erkärung der Wichtigen Tools:</h2>
    <div class=" = ml-5">
        <h3>Buchungenanlegen:</h3>
        <p class=" = ml-5">
            Hier wird genau erklärt wie man eine Buchungh anlegen kann und was man dafür braucht.
        </p>
    </div>
    <div class=" = ml-5">
        <h3>Buchungsübersicht:</h3>
        <p class=" = ml-5">
            Hier wird die Buchungsübersicht erklärt.
        </p>
    </div>
    <div class=" = ml-5">
        <h3>Verwaltung:</h3>
        <p class=" = ml-5">
            Hier wird die Verwaltungssicht erklärt.
        </p>
    </div>
    <div class=" = ml-5">
        <h3>Simulation:</h3>
        <p class=" = ml-5">
            Hier wird die Simulation erklärt.
        </p>
    </div>
    <div class=" = ml-5">
        <h3>Szenario:</h3>
        <p class=" = ml-5">
            Hier wird das Szenario erklärt, wie man eines anlegen kann und was die einzelnen auswertungen bedeuten.
        </p>
    </div>
    <div class=" = ml-5">
        <h3>Historie:</h3>
        <p class=" = ml-5">
            Hier wird die Historie erklärt.
        </p>
    </div>
</div>
<div>
    <h2 id="probleme">2. Häufige Probleme</h2>
    <div class=" = ml-5">
        <p>
            Hier werden häufige Probleme aufgezält und wie man sie lösen kann.
        </p>
    </div>
</div>
<div>
    <h2 id="fragen">3. Häufige Fragen</h2>
    <div class=" = ml-5">
        <p>
            Hier werden häufig gestellte Fragen beantwortet.
        </p>
    </div>
</div>
<div>
    <h2 id="entwickler">4. Entwickler</h2>
    <div class=" = ml-5">
        <p>
            Details zu den entwicklern der Website.
        </p>
    </div>
</div>




