

@{
    ViewData["Title"] = "Impressum";
}

<h1 class=" pb-5 display-3">Impressum</h1>
<div>
    <h6> Dominik Witoschek </h6>
    <div class=" pb-5">
        eMail:      Dominik@Witoschek.eu
    </div>
</div>
<div>
    <h6>Thomas Böhme</h6>
    <div class=" pb-5">
        eMail:		thomas.boehme@student.uni-augsburg.de
    </div>
</div>
<div>
    <h6>Ulrich Reiter</h6>
    <div class=" pb-5">
        eMail:		ulrich.reiter@student.uni-augsburg.de
    </div>
</div>
<div>
    <h6>Peter Koppelstetter</h6>
    <div class=" pb-5">
        eMail:		peter@koppelstetter.de
    </div>
</div>
<div>
    <h6>Nguyen Thao Dat</h6>
    <div class=" pb-5">
        eMail:		nguyen.dat@pornhub.bayern
    </div>
</div>
<div>
    <h6>Tobias Eh</h6>
    <div class=" pb-5">
        eMail:		tobieh99@gmail.com
    </div>
</div>



