@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="pb-5 pt-5">
        <h2 class="display-4 text-center">So einfach kann Buchen sein</h2>
    </div>
    <div class="row pb-3">
        <div class="col-sm">
            <div class="container d-flex justify-content-center pb-3"><img src="~/bootstrap-icons/envelope-fill.svg" width="64" class="filter-blue"/></div>
            <div class="text-center">
                <h4 class="pb-2">1. E-Mail Adresse angeben</h4>
                <p>Damit Sie eine Ladestation buchen können, müssen Sie Ihre E-Mail Adresse hinterlegen.</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="container d-flex justify-content-center pb-3"><img src="~/bootstrap-icons/geo-alt.svg" width="64" class="filter-blue" /></div>
            <div class="text-center">
                <h4 class="pb-2">2. Firmenstandort wählen</h4>
                <p>Wählen Sie den Standort aus, an dem Sie beschäftigt sind.</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="container d-flex justify-content-center pb-3"><img src="~/bootstrap-icons/file-text.svg" width="64" class="filter-blue" /></div>
            <div class="text-center">
                <h4 class="pb-2">3. Formular ausfüllen</h4>
                <p>Damit Sie eine Ladestation buchen können, müssen Sie Ihre E-Mail Adresse hinterlegen.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="container d-flex justify-content-center pb-3"><img src="~/bootstrap-icons/check-circle-fill.svg" width="64" class="filter-blue" /></div>
            <div class="text-center">
                <h4 class="pb-2">4. Bestätigung empfangen</h4>
                <p>Damit Sie eine Ladestation buchen können, müssen Sie Ihre E-Mail Adresse hinterlegen.</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="container d-flex justify-content-center pb-3"><img src="~/bootstrap-icons/plug.svg" width="64" class="filter-blue" /></div>
            <div class="text-center">
                <h4 class="pb-2">5. Bequem aufladen</h4>
                <p>Damit Sie eine Ladestation buchen können, müssen Sie Ihre E-Mail Adresse hinterlegen.</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="container d-flex justify-content-center pb-3"><img src="~/bootstrap-icons/envelope-fill.svg" width="64" class="filter-blue" /></div>
            <div class="text-center">
                <h4 class="pb-2">6. Schöne Fahrt</h4>
                <p>Damit Sie eine Ladestation buchen können, müssen Sie Ihre E-Mail Adresse hinterlegen.</p>
            </div>
        </div>
    </div>
</div>
