
@{
    ViewData["Title"] = "Bookings";
}

<h1 class="display-4">Bookings</h1>
<br />
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover">
        <caption>List of bookings</caption>
        <thead class="thead-light">
            <tr>
                <th>Current charge</th>
                <th>Requested distance in km</th>
                <th>Start-time</th>
                <th>End-time</th>
            </tr>

        </thead>

        @foreach (Booking b in Model)
        {
            <tr>
                <td>@b.currentCharge</td>
                <td>@b.requiredDistance</td>
                <td>@b.start</td>
                <td>@b.end</td>
            </tr>
        }

    </table>
</div>