@model List<Blatt3_Aufgabe4.ViewModel.ConnectorTypeEvaluationViewModel>

@{
    ViewData["Title"] = "Connector Type";
}
<h1>Auswertung</h1>
<table class="table table-hover table-striped">
    @{ if (Model != null)
        {
            <tr>
                <th>Connector Type</th>
                <th>Percentage</th>
               </tr>
            @foreach (Blatt3_Aufgabe4.ViewModel.ConnectorTypeEvaluationViewModel e in Model)
            {
                <tr>
                    <th>@e.connectorType</th>
                    <td>@e.percentage%</td>
                </tr>
            }
        }
        else
        {
            <p>Keine Daten vorhanden</p>
            }
        }
</table>
