
@{
    ViewData["Title"] = "EditRushours";
    Layout = "_AdminLayout";
}
@model Sopro.Models.Simulation.Scenario
<h1>Details der Stoßzeiten</h1>


<div>
    <form asp-action="EditLocationScenario" asp-controller="Simulation">
        @{ int i = 0;}
        @foreach (Sopro.Models.Simulation.Rushhour r in Model.rushhours)
                {
                    i++;
            <div class="flex-column mb-3">
                <div>Stoßzeit @i</div>

                <div class="form-group mb-2 ml-5">
                    <div>Start Zeitpunkt</div>
                    <input type="datetime-local" class="form-control" asp-for="@r.start" />
                    <small></small>
                </div>
                <div class="form-group mb-2 ml-5">
                    <div>Ende</div>
                    <input type="time" class="form-control" asp-for="@r.end" />
                    <small></small>
                </div>
                <div class="form-group mb-2 ml-5">
                    <div>Verteilung</div>
                    <input type="number" class="form-control" asp-for="@r.spread" step="0.001" />
                    <small></small>
                </div>
            </div>
        }
        <button type="submit" class="btn btn-primary btn-mhp">Weiter</button>
    </form>
</div>
