
@model List<Blatt03.ViewModel.ConnectorTypeEvaluationViewModel>
@{
    ViewData["Title"] = "Evaluation";
}

<h1>Auswertung</h1>
<br />


@if (Model != null)
{
    <table class="table table-striped table-borderless table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Stecker Typ</th>
                <th>Prozensatz</th>
            </tr>
        </thead>

        @foreach (Blatt03.ViewModel.ConnectorTypeEvaluationViewModel c in Model)
        {
            <tr>
                <th>@c.connectorType.Description()</th>
                <td>@c.percAppearsInBookings %</td>
            </tr>
        }
    </table>
    <input class="btn btn-primary btn-lg" type="button" name="exportBooking" value="Export" />
}
else
{
    <p class="text-center col">Keine Daten verfügbar</p>
    <input class="btn btn-secondary btn-lg" type="button" name="exportBooking" value="Export" />
}

    


