
@model List<Blatt03.ViewModel.ConnectorTypeEvaluationViewModel>
@{
    ViewData["Title"] = "Evaluation";
}

<h1>Auswertung</h1>
<br/>
<table class="table table-striped table-borderless table-hover">

    @if (Model != null)
    {
        <thead class="thead-dark">
            <tr>
                <th>Stecker Typ</th>
                <th>Prozensatz</th>
            </tr>
        </thead>

        @foreach (Blatt03.ViewModel.ConnectorTypeEvaluationViewModel c in Model)
        {
            <tr>
                <th>@c.connectorType.Description()</th>
                <td>@c.percAppearsInBookings %</td>
            </tr>
        }
    }
    else
    {
        <p class="text-center col">Keine Daten verfügbar</p>
    }

</table>


