
@{
    ViewData["Title"] = "Create";
}

<p class="h3">Neue Buchung</p>
<div>
    <form asp-controller="Booking" asp-action="Post" method="post">
        <div class="form-group">
            <label for="in_currentCharge">Ladestand (aktuell)</label>
            <input type="number" class="form-control" id="@Model.currentCharge" placeholder="Current charge in %" name="currentCharge" min="0" max="100" required>
        </div>
        <div class="form-group">
            <label for="in_requiredDistance">Anzahl benötigter KM</label>
            <input type="number" class="form-control" id="@Model.requiredDistance" placeholder="Required distance in km" name="requiredDistance" min="1" max="1000" required>
        </div>
        <div class="form-group input-append date form_datetime">
            <label for="in_start">Startzeitpunkt</label>
            <input type="datetime-local" class="form-control" id="@Model.start" name="start" placeholder="Start timestamp" required>
        </div>
        <div class="form-group input-append date form_datetime">
            <label for="in_end">Endezeitpunkt</label>
            <input type="datetime-local" class="form-control" id="@Model.end" name="end" placeholder="End timestamp" required>
        </div>

        <button type="submit" class="btn btn-primary">Buchung erstellen</button>
    </form>

</div>