@model List<Blatt3_Aufgabe4.ViewModel.ConnectorTypeEvaluationViewModel>

@{
    ViewData["Title"] = "Connector Type";
}
<h1>Auswertung</h1>
@{ if (Model != null)
    {
        <table class="table table-hover table-striped">
            <tr>
                <th>Connector Type</th>
                <th>Percentage</th>
            </tr>
            @foreach (Blatt3_Aufgabe4.ViewModel.ConnectorTypeEvaluationViewModel e in Model)
            {
                <tr>
                    <th>@e.connectorType</th>
                    <td>@e.percentage%</td>
                </tr>
            }
        </table>
        <input type="button" class="btn btn-primary" value="Export" onclick="location.href='@Url.Action("exportData", "Data", new {cacheKey = "evaluation"})'" />

    }
    else
    {
        <p>Keine Daten vorhanden</p>
    }

}
