@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,700,800);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

// Index
$bg-color:      #DDDDDD;

// Navbar
$nav-color:     #EEE;  
$nav-active:    #797979;
$text-color:    #444444;
$shadow:        #111;

$nav1: rgb(56, 74, 155);
$nav2: rgb(85, 197, 188);
$nav3: rgb(73, 194, 127);
$nav4: rgb(219, 81, 81);

body {
    background-color: $bg-color;
    font-family: 'Raleway', Arial, sans-serif;
}

.navigation {
    height: 100px;
    ul {
        height: 100px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $nav-color;
    
        position: fixed;
        top: 0;
        right:0;
        width: 100%;

        display: flex;
        box-shadow: 0 2px 5px -2px $shadow;

        li {
            align-self: end;
            a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                color: $text-color;
            }
        }
    }  
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .box {
        align-self: center;
        h1 {
            font-size: 50px;
        }
    }

    .center {
        padding-top: 100px;
        padding-right: 150px;
    }
}

.active {
    border-bottom: 3px solid $nav-active;
  }

.push {
    margin-left: auto;
}
.pad {
    padding-left: 250px;
    flex-shrink: 4;
}

#nav1:hover {
    border-bottom: 3px solid $nav1;
}
#nav2:hover {
    border-bottom: 3px solid $nav2;
}
#nav3:hover {
    border-bottom: 3px solid $nav3;
}
#nav4:hover {
    border-bottom: 3px solid $nav4;
}
#logo {
    padding-bottom: 20px;
}

// Table styling

$tb_header: rgb(41, 41, 41);
$tb_row: #BBB;
$tb_dark: #EEE;
$tb_bright: #FFF;

$hover1: rgb(30, 22, 97);
$hover2: rgb(105, 106, 209);
$highlight: #185875;

.container th h1 {
	font-weight: bold;
	font-size: 1em;
    text-align: left;
    color: $highlight;
}

.container td {
	font-weight: normal;
	font-size: 1em;
	box-shadow: 0 2px 2px -2px $shadow;
}

.container {
	text-align: left;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.container td, .container th {
	padding-bottom: 2%;
	padding-top: 2%;
    padding-left:2%;  
}

.container tr:nth-child(odd) {
	background-color: $tb_bright;
}

.container tr:nth-child(even) {
	background-color: $tb_dark;
}

.container th {
	background-color: $tb_header;
}

.container td:first-child { color: $highlight; }

.container tr:hover {
   background-color: $tb_row;
   box-shadow: 0 6px 6px -6px $shadow;
}

.container td:hover {
    background-color: $hover2;
    color: #403E10;
    font-weight: bold;
  
    box-shadow: $hover1 -1px 1px, $hover1 -2px 2px, $hover1 -3px 3px, $hover1 -4px 4px, $hover1 -5px 5px, $hover1 -6px 6px;
    transform: translate3d(6px, -6px, 0);
  
    transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
    transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}




